<div class="edit_comment">
  <%= form_for :product_comment, url: product_comment_path, method: :put do |f| %>
    <%= f.text_area :content, id:"content", name: "content", style: "height:100px"%>
    <%= f.button "Update", value: "update", class: "edit_comment_btn"%>
  <% end%>
</div>
