<div class="jumbotron">
  <div style="text-align: center; color: #F21F0C">
    <h1>Welcome to the SMART PHONE Website!!!</h1>
    <%= link_to "Sign Up Now!", sign_up_path, class: "btn btn-lg btn-info" %>
  </div>
</div>