<footer class="footer layout _2pi6">
  <p>&nbsp;</p>
  <div class="row">
    <div class="col-md-4">
      <p>&#8203;<img alt="" src="/../images/visa.png" style="height:104px; line-height:1.6em; width:165px"></p>
      <p><strong>THANH TOÁN ĐƠN GIẢN VỚI</strong></p>
      <p>
        <img alt="" src="/../images/visa_footer.png" style="height:32px; width:50px"> &nbsp;
        <img alt="" src="/../images/pp.png" style="height:32px; width:50px"> &nbsp;
        <img alt="" src="/../images/master.png" style="height:32px; width:50px">
      </p>
      <p><strong>DI ĐỘNG THÔNG MINH</strong></p>
      <p>
        <a href="#"><span style="color:#0066cc">Giới thiệu</span></a><br>
        <a href="#"><span style="color:#0066cc">Chinh sách bảo hành</span></a><span style="color:#0066cc">&nbsp;</span><br>
        <a href="#"><span style="color:#0066cc">Hỏi đáp mua hàng Online</span></a><span style="color:#0066cc">&nbsp;&nbsp;</span><br>
        <a href="#"><span style="color:#0066cc">Chính Sách Bảo Mật Thông Tin</span></a><span style="color:#0066cc">&nbsp;</span><br>
        <a href="#"><span style="color:#0066cc">Chính Sách Đổi Trả Sản Phẩm</span></a><br>
        <a href="#"><span style="color:#0066cc">Phương Thức Thanh Toán</span></a><br>
        <a href="#"><span style="color:#0066cc">Liên hệ</span></a><br>
        &nbsp;
      </p>
    </div>
    <div class="col-md-4">
      <p><span style="text-align:right">
        <strong>ĐỊA CHỈ SHOWROOM</strong><br>
      </span></p>
      <div class="html_city">
        <span>95 Hàm Nghi Đà Nẵng</span><br>
        <span>0918503543</span><br><br>
        <span>388 Phan Đình Phùng - Tp Kon Tum - Tỉnh Kon Tum</span><br>
        <span>0916.55.11.77</span>
      </div>
    </div>
    <div class="col-md-4">
      <p style="text-align:right"><br>
        <span style="line-height:20.8px; text-align:right">
          <a href="#" target="_blank">
            <img src="/../images/20150827110756-dathongbao.png" style="height:76px; width:200px; float:left;">
          </a>
        </span><br>
        <img alt="" src="/../images/800x304.png" style="height:76px; width:200px; float:left;">
      </p>
    </div>
  </div>
</footer>
