<%= render partial: "shared/header", locals: { categories: @categories } %>
<div class="layout main_wrapper _2pi4 mbl">
  <%= render partial: "slide_images" %>
  <%= render partial: "products", locals: { categories: @products } %>
</div>
