<div class="shopping-cart">
  <div class="layout main_wrapper _2pi4 mbl">
    <div class=" main-column  main-colum-left">
      <%= render partial: "layouts/cart_text"%>
      <%= render "shopping_cart" %>
      <%= link_to "Back", :back, class: "btn btn-primary"%>
      <%= will_paginate @order_items %>
    </div>
  </div>
</div>