<div class="layout main_wrapper _2pi4 mbl">

  <div class="breadcrumbs mbm">
    <div class="breadcrumb clearfix" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <h2 class="breadcumbs-first flever_12">
        <a title="didongthongminh.vn - Hệ Thống Bán Lẻ Điện Thoại Di Động Uy Tín Toàn Quốc" href="http://didongthongminh.vn/" rel="nofollow" itemprop="url">Trang chủ</a>
      </h2>
      <div class="breadcrumbs_sepa">&gt;</div>
      <h2><a href="javascript:void(0)" itemprop="url"><span itemprop="title">Liên hệ</span></a></h2>
      <div class="clear"></div>
    </div>
  </div>

  <div class=" main-column  main-colum-left">
    <h3 class="content_title"><span>Contact</span></h3>
    <div class="container">
      <div class="form_left">
          <form action="/action_page.php">
          <label for="name">Your Name *</label>
          <input type="ip_text" id="name" name="yourname" placeholder="Your name..">

          <label for="email">Email *</label>
          <input type="ip_text" id="email" name="email" placeholder="Your email..">

          <label for="phone">Your phone *</label>
          <input type="ip_text" id="phone" name="phone" placeholder="Your phone..">

          <label for="subject">Subject :</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:100px"></textarea>
          <button class="submit_contact" value="send">SEND</button>
        </form>
        </div>
      <div class="form_right">
        <div class="information">
        <h3>My First Google Map</h3>
          <p>Đà Nẵng</p>
          <p>Địa chỉ 6: 95 Hàm Nghi Đà Nẵng</p>
          <p>Điện thoại: 0918503543</p>
          <p>Địa chỉ 7: 388 Phan Đình Phùng - Tp Kon Tum - Tỉnh Kon Tum</p>
          <p>Điện thoại: 0916.55.11.77</p>
        </div>
        <div id="map">
          <script>
            var map;
            function initMap() {
              map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 16.076265, lng: 108.235507},
                zoom: 15
              });
            }
          </script>
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuhH5yPTqE0zYH7Vj6GuycJcidKFxLVwA&callback=initMap" async defer>
          </script>
        </div>
      </div>
    </div>
  </div>
</div>