<div class="layout main_wrapper _2pi4 mbl ">
  <div class="breadcrumbs mbm">
    <div class="breadcrumb clearfix" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <h2 class="breadcumbs-first flever_12">
        <a title="didongthongminh.vn - Hệ Thống Bán Lẻ Điện Thoại Di Động Uy Tín Toàn Quốc" href="http://didongthongminh.vn/" rel="nofollow" itemprop="url">Trang chủ</a>
      </h2>
      <div class="breadcrumbs_sepa">&gt;</div>
      <h2><a href="javascript:void(0)" itemprop="url"><span itemprop="title">Trợ giúp khách  hàng</span></a></h2>
      <div class="breadcrumbs_sepa">&gt;</div>
      <h2><a href="javascript:void(0)" itemprop="url"><span itemprop="title">Giới thiệu</span></a></h2>
      <div class="clear"></div>
    </div>
  </div>
  <div class="main-full-column ">
    <div class="content_detail">
      <div id="news_contents" class="row mt20">
        <div class="col-lg-r col-lg-9 col-md-12 col-sm-12 col-xs-12">
          <h2 class="content_title">Giới thiệu</h2>
      <!-- end CONTENT NAME-->
      <!-- SUMMARY -->
          <div class="summary"></div>
          <div class="description">
            <p><span style="color:#ff0000"><span style="font-size:16px"><strong>I. Lịch sử hình thành&nbsp;</strong></span></span></p>
            <p><span style="font-size:14px"><strong>Hệ thống bán lẻ&nbsp;Di Động Thông Minh</strong>&nbsp;toàn quốc là một trong những điểm đến tin cậy của người tiêu dùng thông thái bắt nguồn từ diễn đàn mua bán <a href="https://tinhte.vn"><em><strong>www.tinhte.vn</strong></em></a> - diễn đàn công nghệ lớn nhất Việt Nam. Di Động Thông Minh là thương hiệu đã được bảo hộ bởi <strong>Công Ty Cổ Phần Viễn Thông Di Động Thông Minh.</strong></span></p>
          <div>
        <div>
      <div>
    <div>
  <div>
<div>&nbsp;</div>

<div><span style="font-size:14px"><em><strong>1. Một&nbsp;vài thông tin về công ty:</strong></em></span></div>
&nbsp;

<div><span style="font-size:14px">- Tên công ty:&nbsp;Công Ty Cổ Phần Viễn Thông Di Động Thông Minh&nbsp;</span></div>

<div><span style="font-size:14px">- Địa chỉ: 119 phố Thái Thịnh, phường Thịnh Quang, quận Đống Đa, thành phố&nbsp;Hà Nội, Việt Nam</span><br>
<span style="font-size:14px">- MST: 0105815899&nbsp;(Số giấy chứng nhận đăng ký kinh doanh thương nhân )</span></div>
</div>
<span style="font-size:14px">- Ngày cấp lần đầu: 12/03/2012</span></div>
<span style="font-size:14px">- Đăng ký thay đổi lần 2: 04/11/2013</span></div>
<span style="font-size:14px">- Nơi cấp: Sở kế hoạch và đầu tư thành phố Hà Nội</span></div>
<span style="font-size:14px">- Số điện thoại : 04.62757392 / 04.62757393</span></div>

<p>&nbsp;</p>

<p><span style="font-size:14px"><em><strong>&nbsp;2. Link&nbsp;topic bán android:</strong></em>&nbsp;<a href="https://www.nhattao.com/threads/di-dong-thong-minh-cap-a-a860-5-29-a850-4-89-lg-g-4-89-a840-4-39-noteii-7-5-s3-5-7-new100-lgg-5-99.629871/page-3099">TOPIC DIDONGTHONGMINH TINHTE</a></span></p>

<p><span style="font-size:14px">- Được sự ủng hộ của sân chơi công nghệ tinh tế nhất lên đến hơn<strong>&nbsp;3118&nbsp;trang</strong> (hơn <strong>62.000 lượt bình luận</strong>) và hơn&nbsp;<strong>3 triệu lượt views.</strong>&nbsp;</span></p>

<p><span style="font-size:14px">- Được cộng đồng tinhte.vn đánh giá cao về bán hàng uy tín, tin cậy, hỗ trợ kĩ thuật nhiệt tình.</span></p>

<p><span style="font-size:14px">Bắt nguồn từ một topic bán hàng của <strong>Tiêu Kim</strong> lấy tên ban đầu là <strong>vnandroid</strong>, người dùng biết đến chúng tôi với kim chỉ nam:</span></p>

<p><span style="color:#ff0000"><strong><span style="font-size:14px">"Bán hàng là nuôi thân, kết giao bạn bè bốn bể là nuôi dưỡng tâm hồn"</span></strong></span></p>

<p><img alt="" src="/upload_images/images/2017/03/01/topic.jpg" style="border-style:solid; border-width:1px; height:178px; width:700px"></p>

<p>&nbsp;</p>

<p><span style="font-size:14px">Với tinh thần bán hàng trung thực, hài hước, lấy 4 đối tượng: <strong>Sản Phẩm, Khách Hàng, Chất Lượng Dịch Vụ, Nhân Sự</strong>&nbsp;làm trọng tâm, chúng tôi cực kì chú trọng đến xây dựng quy trình cung cấp dịch vụ chuẩn, không ngừng nâng cấp để:</span></p>

<p><span style="font-size:14px">- Luôn nhập được hàng tốt với giá đầu vào tốt, các sản phẩm được kiểm tra kĩ càng bởi đội ngũ kiểm tra chất lượng chuẩn trước khi bán ra.</span></p>

<p><span style="font-size:14px">- Luôn làm hài lòng khách hàng về giá bán, thời gian phục vụ nhanh chóng, và giải quyết thỏa đáng các vấn đề trong bảo hành.</span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px">&nbsp;<img alt="" src="http://didongthongminh.vn/upload_images/images/IMG_3385.jpg" style="height:393px; width:700px"></span></p>

<p>&nbsp;</p>

<p><em><strong><span style="font-size:14px">3. Những hình ảnh khai trương, bán hàng tại 10 Showroom của Di Động Thông Minh trên toàn quốc.</span></strong></em></p>

<p><span style="font-size:14px"><span style="color:#ff0000"><strong>- Tháng 4/2012</strong></span> chúng tôi chọn&nbsp;<strong>119 Thái Thịnh, Đống Đa,</strong>&nbsp;con phố ngay cạnh phố điện tử Thái Hà để xây dựng Showroom đầu tiên, để khách hàng nhắc đến Thái Thịnh là nhắc đến chúng tôi, đến <em><strong>didongthongminh</strong></em> như lời chúc sự&nbsp;thái bình và thịnh vượng&nbsp;</span></p>

<p><span style="font-size:14px"><img alt="" src="/upload_images/images/2017/03/02/'.jpg" style="height:504px; width:700px"></span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><span style="color:#ff0000"><strong>- Tháng 11/2013</strong></span> chúng tôi chọn&nbsp;<strong>208 Xã Đàn, Đống Đa</strong>, con phố hiện đại bậc nhất Hà Nội, nằm ở vị trí cực kì đắc địa nhằm mang đến sự thuận tiện mua hàng, và trải nghiệm. Đến 208 Xã Đàn các bạn được trải nghiệm 1 phong cách phục vụ hiện đại, cởi mở, và chân thành của đội ngũ nhân viên Di Động Thông Minh&nbsp;</span></p>

<p><span style="font-size:14px"><img alt="" src="/upload_images/images/Showroom%20208%20xa%20dan%201.jpg" style="height:467px; width:700px"></span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><span style="color:#ff0000"><strong>- Tháng 8/2014</strong></span> chúng tôi chọn&nbsp;<strong>392 Hoàng Diệu, P5, Q4</strong>, con phố nhộn nhịp sầm uất tại trung tâm Q4, tp Hồ Chí Minh, với diện tích Showroom lớn, nhiều bàn trải nghiệm rộng rãi cho khách mua hàng cũng như khách thăm quan</span></p>

<p><img alt="" src="/upload_images/images/2017/03/02/392-HD.jpg" style="height:384px; width:700px"></p>

<p><span style="font-size:14px"><img alt="" src="/upload_images/images/Showroom%20392%20Hoang%20Dieu.jpg" style="height:525px; width:700px"></span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><span style="color:#ff0000"><strong>- Tháng 10/2014</strong></span> chúng tôi chọn&nbsp;<strong>95 Hàm Nghi, Đà Nẵng</strong> để khai trương Showroom thứ 4&nbsp;đạt chuẩn nhận diện thương hiệu để các bạn tại miền Trung có thể đến trải nghiệm và mua hàng.</span></p>

<p><span style="font-size:14px"><img alt="" src="/upload_images/images/Showroom%2095%20Ham%20Nghi.JPG"></span></p>

<p><span style="font-size:14px"><img alt="" src="/upload_images/images/2017/03/02/95HN.jpg" style="height:402px; width:700px"></span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><span style="color:#ff0000"><strong>- Tháng 3/2015&nbsp;</strong></span>chúng tôi chọn&nbsp;<strong>602 Lê Hồng Phong, P10, Q10</strong>, showroom có vị trí đắc địa trung tâm quận 10, tp Hồ Chí Minh&nbsp;con đường huyết mạch Sài Gòn, đánh dấu sự phát triển của Di Động Thông Minh khu vực phía Nam</span></p>

<p><img alt="" src="/upload_images/images/2017/03/02/LHP1.jpg" style="height:396px; width:700px"></p>

<p><img alt="" src="/upload_images/images/2017/03/02/LHP2.jpg" style="height:360px; width:700px"></p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><span style="color:#ff0000"><strong>- Đầu tháng 7/2015</strong></span>&nbsp;chúng tôi chọn&nbsp;<strong>325 Hoàng Văn Thụ, P2, Q. Tân Bình</strong>&nbsp;để khai trương Showroom thứ 3 của DDTM&nbsp;phía Nam và thứ 6 trên toàn quốc</span></p>

<p><span style="font-size:14px"><img alt="" src="/upload_images/images/2017/03/02/325HVT2.jpg" style="height:422px; width:700px"></span></p>

<p><span style="font-size:14px"><img alt="" src="/upload_images/images/2017/03/02/325HVT1.jpg" style="height:396px; width:700px"></span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><span style="color:#ff0000"><strong>- Giữa tháng 7/2015&nbsp;</strong></span>chúng tôi chọn&nbsp;<strong>482 Quang Trung, P10, Q.&nbsp;Gò Vấp&nbsp;</strong>để khai trương Showroom thứ 7 của DDTM trên toàn quốc, đánh dấu sự phát triển vượt bậc về chất lượng hệ thống trong năm 2015 để cung cấp đến khách hàng những dịch vụ, chất lượng tốt nhất.</span></p>

<p><img alt="" src="/upload_images/images/2017/03/02/482-QT2.jpg" style="height:364px; width:700px"></p>

<p><img alt="" src="/upload_images/images/2017/03/02/482-QT1.jpg" style="height:379px; width:700px"></p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><span style="color:#ff0000"><strong>- Tháng 5/2016&nbsp;</strong></span>chúng tôi chọn&nbsp;<strong>267 Lương Ngọc Quyến, tp Thái Nguyên&nbsp;</strong>để khai trương Showroom thứ 8&nbsp;của DDTM trên toàn quốc, đánh dấu sự hiện diện của hệ thống tại khu vực phía Bắc nơi tập trung của các tập đoàn công nghệ hằng đầu như Samsung, và mang lại những sản phẩm chất lượng cho các bạn học sinh sinh viên nơi đây </span><span style="color:#ff0000"><span style="font-size:12px"><em>(Hiện tại showroom 267 Lương Ngọc Quyến đã chuyển địa chỉ sang 467 Lương Ngọc Quyến cùng tuyến phố)</em></span></span></p>

<p><img alt="" src="http://didongthongminh.vn/upload_images/images/IMG_3343.jpg" style="height:393px; width:700px"></p>

<p><img alt="" src="http://didongthongminh.vn/upload_images/images/IMG_3256.jpg" style="height:467px; width:700px"></p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><span style="color:#ff0000"><strong>- Tháng 7/2016&nbsp;</strong></span>chúng tôi chọn&nbsp;<strong>699 Lê Hồng Phong, P10, Q10&nbsp;</strong>để khai trương Showroom thứ 9&nbsp;của DDTM trên toàn quốc, cùng với showroom tại 602 Lê Hồng Phong chuyên về các sản phẩm Android tại HCM, showroom 699 được định vị số 1 các sản phẩm Apple, iPhone, iPad</span></p>

<p><img alt="" src="/upload_images/images/2017/03/02/699LHP2.jpg" style="height:382px; width:700px"></p>

<p><img alt="" src="/upload_images/images/2017/03/02/699LHP1.jpg" style="height:366px; width:700px"></p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><span style="color:#ff0000"><strong>- Tháng 8/2016&nbsp;</strong></span>chúng tôi chọn&nbsp;<strong>Số 55, đường 3/2, tp Cần Thơ&nbsp;</strong>để khai trương Showroom thứ 10&nbsp;của DDTM trên toàn quốc, đánh dấu sự hiện diện của hệ thống tại khu vực miền tây Nam Bộ, chuyên cung cấp các sản phẩm dịch vụ, hướng tới các bạn sinh viên, người dùng bình dân tại khu vực</span></p>

<p><img alt="" src="http://didongthongminh.vn/upload_images/images/0731161022b.jpg" style="height:394px; width:700px"></p>

<p><img alt="" src="http://didongthongminh.vn/upload_images/images/0731160729.jpg" style="height:394px; width:700px"></p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><span style="color:#ff0000"><strong>- Tháng 2/2017&nbsp;</strong></span>chúng tôi chọn <strong>467 Lương Ngọc Quyến, tp Thái Nguyên&nbsp;</strong>để khai trương cũng như là Showroom thay cho địa chỉ <strong>267 Lương Ngọc Quyến</strong> (cùng tuyến phố), với diện tích lớn hơn, cùng những trải nghiệm dịch vụ tốt hơn, Showroom 467 chuyên các sản phẩm Xiaomi chính hãng, phụ kiện chính hãng giá rẻ bảo hành dài lâu, Samsung, Apple khác biệt về chất lượng</span></p>

<p><img alt="" src="http://didongthongminh.vn/upload_images/images/467%20luong%20ngoc%20quyen/khai%20truong%20467%20luong%20ngoc%20quyen%201.jpg" style="height:467px; width:700px"></p>

<p><span style="font-size:14px"><img alt="" src="http://didongthongminh.vn/upload_images/images/467%20luong%20ngoc%20quyen/khai%20truong%20467%20luong%20ngoc%20quyen-13.jpg" style="height:394px; width:700px"></span></p>

<p><span style="font-size:14px">Sau 5&nbsp;năm&nbsp;hoạt động <a href="http://didongthongminh.vn"><em><strong>didongthongminh.vn</strong></em></a> đã trở thành điểm đến quen thuộc của người yêu công nghệ Hà Nội và ba miền Tổ Quốc, được biết đến như một điểm sáng trong cộng động yêu công nghệ Việt Nam.</span></p>

<p>&nbsp;</p>

<p><em><strong><span style="font-size:14px">4. Dưới đây là các hạng mục sản phẩm mà hệ thống di động thông minh cung cấp:</span></strong></em></p>

<p><span style="font-size:14px">- Các sản phẩm của Apple: iPhone, iPad</span></p>

<p><span style="font-size:14px">- Các sản phẩm Android quốc tế: HTC, Sony, SamSung, LG, Motorola.</span></p>

<p><span style="font-size:14px">- Các sản phẩm chính hãng, phân phối chính hãng tại Việt Nam: Apple, Samsung, LG, Sony, HTC, Motorola, Lenovo, Oppo, Vivo, Huawei, Wiko, Gionee, Xiaomi, Meizu, Infinix...</span></p>

<p><span style="font-size:14px">- Các sản phẩm SKY nội địa Hàn Quốc.</span></p>

<p><span style="font-size:14px">- Các sản phẩm giá rẻ, chính hãng, chất lượng từ thị trường Trung Quốc: Samsung China, Xiaomi, Meizu, Lenovo, One Plus,&nbsp;</span></p>

<p><span style="font-size:14px">- Các phụ kiện cao cấp cho smartphone</span></p>

<p><span style="font-size:14px">- Các dịch vụ sửa chữa, bảo hành, bảo trì điện thoại đời cao.</span></p>

<h2>&nbsp;</h2>

<h2><span style="color:#ff0000"><span style="font-size:16px"><strong>II. Tầm nhìn - sứ mệnh</strong></span></span></h2>

<p><em><strong><span style="font-size:14px">Sứ mệnh:</span></strong></em></p>

<p><span style="font-size:14px">Chúng tôi lấy khách hàng làm trung tâm, lấy tổ chức chức chuyên nghiệp làm sức mạnh cạnh tranh, không ngừng nỗ lực cung cấp những sản phẩm, dịch vụ giá trị mới, chất lượng cao với giá hợp lý để đóng góp vào mục tiêu nâng cao chất lượng cuộc sống thông tin.</span></p>

<p><em><strong><span style="font-size:14px">Tầm nhìn:</span></strong></em></p>

<p><span style="font-size:14px">Trở thành một công ty hàng đầu cung cấp sản phẩm, dịch vụ các thế hệ di động thông minh trong đó lấy chất lượng phục vụ khách hàng làm sự phát triển bền vững.&nbsp;</span></p>

<p>&nbsp;</p>

<p><span style="color:#ff0000"><span style="font-size:16px"><strong>III. Những Giá Trị Cốt Lõi&nbsp;</strong></span></span></p>

<p><span style="font-size:14px">Giá trị cốt lõi của Di Động Thông Minh&nbsp; là các giá trị bền vững làm nên thành công,&nbsp; là tôn chỉ toàn bộ hành động của công ty , được hình thành qua những ngày tháng gian khổ đầu tiên của công ty, được xây dựng từ những kinh nghiệm và học hỏi, tôi luyện qua những thử thách trong suốt quá trình phát triển.</span></p>

<p><em><strong><span style="font-size:14px">1. Tư duy hệ thống xã hội hóa:&nbsp;</span></strong></em></p>

<p><span style="font-size:14px">Công ty được tổ chức như một hệ thống với những nhiệm vụ sứ mệnh rõ ràng, được tổ chức toàn vẹn và hiệu quả, không ngừng nâng cấp để thay đổi về tầm ảnh hưởng, hệ thống sẽ được Xã Hội Hóa theo hướng là tài sản chung của toàn bộ cán bộ, nhân viên Di Động Thông Minh và đóng góp để trở thành 1 phần hữu cơ của Xã Hội.&nbsp;</span></p>

<p><em><strong><span style="font-size:14px">2. Thành công của con người là thành công của tổ chức.&nbsp;</span></strong></em></p>

<p><span style="font-size:14px">Công ty Di Động Thông Minh xây dựng đội ngũ nhân viên như những người đồng đội trên cùng một chiến thuyền, mỗi cá nhân được đánh thức nhân sinh quan và hướng dẫn cách nhận định, phấn đấu vì mục tiêu sống, thành công của mỗi nhân viên là thành công của tổ chức. Hội tụ càng nhiều thành công này, tổ chức đạt được mục tiêu. Trên cùng một chiến thuyền, giữa biển khơi bao la...đòi hỏi một tập thể phải biết tối ưu ở mọi cấp độ, đoàn kết và tin tưởng vào mục tiêu của tổ chức. Hệ thống đòi hỏi những con người phải biết thành công và dám thành công.&nbsp;</span></p>

<p><em><strong><span style="font-size:14px">3. Giá trị doanh nghiệp nằm ở khách hàng&nbsp;</span></strong></em></p>

<p><span style="font-size:14px">Giá trị doanh nghiệp nằm ở khách hàng, kết nối khách hàng thành một xã hội và phục vụ xã hội này với những năng lực, tư duy luôn đổi mới. Mỗi khách hàng là một hạt nhân quan trọng trên bước đường cóp nhặt thành công của công ty. Toàn thể từ lãnh đạo đến nhân viên trước khách hàng luôn phải thể hiện trong vai trò người phục vụ: tận tụy, lắng nghe và đưa ra giải pháp tốt nhất.&nbsp;</span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px">&nbsp;</span></p>

<p>&nbsp;</p>
      </div>
    </div>
    <div class="col-lg-r col-lg-3 col-md-6 col-sm-6 col-xs-12 hidden-xs  hidden-sm hidden-md">
        <div class="block_banners  block_banners_default">
                  </div>
        <div class="block_newslist  block block_newslist_list">
          <h2 class="block_title">
            <span>Tin hot trong tuần</span>
          </h2>
<div class="block_content">
  <ul class="media-list">
      <li class="media clearfix">
        <a class="pull-left" href="http://didongthongminh.vn/san-pham-moi-reviews/tren-cat-s60:-cam-bien-do-nhiet-khac-biet-hoan-toan-voi-phan-con-lai-cua-the-gioi-n3880.html"><img alt="Trên tay Cat S60: Cảm biến đo nhiệt, khác biệt hoàn toàn với phần còn lại của thế giới" src="http://didongthongminh.vn/images/news/2017/09/06/small/screenshot-212_1504662935.gif" onerror="javascript:this.src='http://didongthongminh.vn/images/NA100x100.jpg';"></a>
          <div class="media-body">
          <h4 class="media-heading">
            <a href="http://didongthongminh.vn/san-pham-moi-reviews/tren-cat-s60:-cam-bien-do-nhiet-khac-biet-hoan-toan-voi-phan-con-lai-cua-the-gioi-n3880.html" title="Trên tay Cat S60: Cảm biến đo nhiệt, khác biệt hoàn toàn với phần còn lại của thế giới">Trên tay Cat S60: Cảm biến đo nhiệt, khác biệt hoàn toàn với phần còn lại...</a>
          </h4>
          <p> 06/09/2017 | 08:55 </p>
        </div>
      </li>
        <li class="media clearfix">
        <a class="pull-left" href="http://didongthongminh.vn/san-pham-moi-reviews/tren-tay-fujitsu-f-01f-chong-nuoc-van-tay-chi-1590k---ram-2gb-chip-s800-chien-lien-quan-max-cau-hinh-n3874.html"><img alt="Trên tay Fujitsu F-01F chống nước, vân tay chỉ 1.590K - Ram 2Gb, Chip S800 chiến Liên Quân max cấu hình" src="http://didongthongminh.vn/images/news/2017/09/05/small/fujitsu-f-01f-5_1504581229.jpg" onerror="javascript:this.src='http://didongthongminh.vn/images/NA100x100.jpg';"></a>
          <div class="media-body">
          <h4 class="media-heading">
            <a href="http://didongthongminh.vn/san-pham-moi-reviews/tren-tay-fujitsu-f-01f-chong-nuoc-van-tay-chi-1590k---ram-2gb-chip-s800-chien-lien-quan-max-cau-hinh-n3874.html" title="Trên tay Fujitsu F-01F chống nước, vân tay chỉ 1.590K - Ram 2Gb, Chip S800 chiến Liên Quân max cấu hình">Trên tay Fujitsu F-01F chống nước, vân tay chỉ 1.590K Ram 2Gb, Chip S800 chiến...</a>
          </h4>
          <p> 05/09/2017 | 10:13 </p>
        </div>
      </li>
        <li class="media clearfix">
        <a class="pull-left" href="http://didongthongminh.vn/latest-news/loi-kho-chiu-tren-iphone-6s-6s-plus-ai-cung-gap-phai-n3873.html"><img alt="Lỗi khó chịu trên iPhone 6S, 6S Plus ai cũng gặp phải" src="http://didongthongminh.vn/images/news/2017/09/05/small/screenshot-186_1504576964.gif" onerror="javascript:this.src='http://didongthongminh.vn/images/NA100x100.jpg';"></a>
          <div class="media-body">
          <h4 class="media-heading">
            <a href="http://didongthongminh.vn/latest-news/loi-kho-chiu-tren-iphone-6s-6s-plus-ai-cung-gap-phai-n3873.html" title="Lỗi khó chịu trên iPhone 6S, 6S Plus ai cũng gặp phải">Lỗi khó chịu trên iPhone 6S, 6S Plus ai cũng gặp phải</a>
          </h4>
          <p> 05/09/2017 | 09:02 </p>
        </div>
      </li>
        <li class="media clearfix">
        <a class="pull-left" href="http://didongthongminh.vn/san-pham-moi-reviews/xiaomi-mi-5x-vs-redmi-note-4x:-ai-la-ong-vua-tam-trung-cua-nha-mi-n3861.html"><img alt="Xiaomi Mi 5x vs Redmi Note 4x: Ai là ông vua tầm trung của nhà Mi?" src="http://didongthongminh.vn/images/news/2017/09/03/small/screenshot-157_1504430022.gif" onerror="javascript:this.src='http://didongthongminh.vn/images/NA100x100.jpg';"></a>
          <div class="media-body">
          <h4 class="media-heading">
            <a href="http://didongthongminh.vn/san-pham-moi-reviews/xiaomi-mi-5x-vs-redmi-note-4x:-ai-la-ong-vua-tam-trung-cua-nha-mi-n3861.html" title="Xiaomi Mi 5x vs Redmi Note 4x: Ai là ông vua tầm trung của nhà Mi?">Xiaomi Mi 5x vs Redmi Note 4x: Ai là ông vua tầm trung của nhà Mi?...</a>
          </h4>
          <p> 03/09/2017 | 16:13 </p>
        </div>
      </li>
        <li class="media clearfix">
        <a class="pull-left" href="http://didongthongminh.vn/tin-khuyen-mai/abc-n3857.html"><img alt="Khuyến mại mừng bừng - Chào mừng quốc khánh: Mừng độc lập, giá sốc toàn tập" src="http://didongthongminh.vn/images/news/2017/08/31/small/slide_1504194562.jpg" onerror="javascript:this.src='http://didongthongminh.vn/images/NA100x100.jpg';"></a>
          <div class="media-body">
          <h4 class="media-heading">
            <a href="http://didongthongminh.vn/tin-khuyen-mai/abc-n3857.html" title="Khuyến mại mừng bừng - Chào mừng quốc khánh: Mừng độc lập, giá sốc toàn tập">Khuyến mại mừng bừng - Chào mừng quốc khánh: Mừng độc lập, giá sốc toàn tập</a>
          </h4>
          <p> 31/08/2017 | 22:49 </p>
        </div>
      </li>
    </ul>
</div>        </div>
        <div class="block_newslist  block block_newslist_list">
          <h2 class="block_title">
            <span>Tin xem nhiều</span>
          </h2>
<div class="block_content">
  <ul class="media-list">
      <li class="media clearfix">
        <a class="pull-left" href="http://didongthongminh.vn/huong-dan-mua-hang/hoi-dap-mua-hang-online-n81.html"><img alt="Hỏi Đáp Mua Hàng Online" src="http://didongthongminh.vn/images/news/2014/12/11/small/ol.jpg" onerror="javascript:this.src='http://didongthongminh.vn/images/NA100x100.jpg';"></a>
          <div class="media-body">
          <h4 class="media-heading">
            <a href="http://didongthongminh.vn/huong-dan-mua-hang/hoi-dap-mua-hang-online-n81.html" title="Hỏi Đáp Mua Hàng Online">Hỏi Đáp Mua Hàng Online</a>
          </h4>
          <p> 03/10/2012 | 11:51 </p>
        </div>
      </li>
        <li class="media clearfix">
        <a class="pull-left" href="http://didongthongminh.vn/tren-tay/so-sanh-iphone-5-va-iphone-5s-liu-iphone-5-a-cha-n789.html"><img alt="So sánh iPhone 5 và iPhone 5S: Liệu iPhone 5 đã đủ dùng?" src="http://didongthongminh.vn/images/news/2015/03/16/small/so_sanh_iphone_5_va_5s.jpg" onerror="javascript:this.src='http://didongthongminh.vn/images/NA100x100.jpg';"></a>
          <div class="media-body">
          <h4 class="media-heading">
            <a href="http://didongthongminh.vn/tren-tay/so-sanh-iphone-5-va-iphone-5s-liu-iphone-5-a-cha-n789.html" title="So sánh iPhone 5 và iPhone 5S: Liệu iPhone 5 đã đủ dùng?">So sánh iPhone 5 và iPhone 5S: Liệu iPhone 5 đã đủ dùng?</a>
          </h4>
          <p> 12/01/2015 | 23:29 </p>
        </div>
      </li>
        <li class="media clearfix">
        <a class="pull-left" href="http://didongthongminh.vn/tu-van-mua-hang-dien-thoai-di-dong/cach-phan-bit-cac-loi-ipad-chinh-xac-nht-n886.html"><img alt="Cách phân biệt các loại iPad chính xác nhất!" src="http://didongthongminh.vn/images/news/2015/03/16/small/cach-phan-biet-cac-loai-ipad-tieu-de.png" onerror="javascript:this.src='http://didongthongminh.vn/images/NA100x100.jpg';"></a>
          <div class="media-body">
          <h4 class="media-heading">
            <a href="http://didongthongminh.vn/tu-van-mua-hang-dien-thoai-di-dong/cach-phan-bit-cac-loi-ipad-chinh-xac-nht-n886.html" title="Cách phân biệt các loại iPad chính xác nhất!">Cách phân biệt các loại iPad chính xác nhất!</a>
          </h4>
          <p> 14/03/2015 | 03:24 </p>
        </div>
      </li>
              <li class="media clearfix">
                <a class="pull-left" href="http://didongthongminh.vn/tu-van-mua-hang-dien-thoai-di-dong/iphone-5-va-iphone-5s-chn-mau-nao-p-nht-n792.html"><img alt="iPhone 5 và iPhone 5S chọn màu nào đẹp nhất?" src="http://didongthongminh.vn/images/news/2015/03/16/small/chon_mau_nao.jpg" onerror="javascript:this.src='http://didongthongminh.vn/images/NA100x100.jpg';"></a>
                <div class="media-body">
                  <h4 class="media-heading">
                    <a href="http://didongthongminh.vn/tu-van-mua-hang-dien-thoai-di-dong/iphone-5-va-iphone-5s-chn-mau-nao-p-nht-n792.html" title="iPhone 5 và iPhone 5S chọn màu nào đẹp nhất?">iPhone 5 và iPhone 5S chọn màu nào đẹp nhất?</a>
                  </h4>
                  <p> 13/01/2015 | 22:30 </p>
                  </div>
                </li>
                <li class="media clearfix">
                  <a class="pull-left" href="http://didongthongminh.vn/huong-dan-ki-thuat/huong-dan-chay-asus-flashtool-cho-zenfone-4-5-6-n1138.html"><img alt="Hướng dẫn chạy Asus Flashtool cho Zenfone 4-5-6" src="http://didongthongminh.vn/images/news/2015/06/27/small/zenfonepng_1435399849.png" onerror="javascript:this.src='http://didongthongminh.vn/images/NA100x100.jpg';"></a>
                  <div class="media-body">
                    <h4 class="media-heading">
                      <a href="http://didongthongminh.vn/huong-dan-ki-thuat/huong-dan-chay-asus-flashtool-cho-zenfone-4-5-6-n1138.html" title="Hướng dẫn chạy Asus Flashtool cho Zenfone 4-5-6">Hướng dẫn chạy Asus Flashtool cho Zenfone 4-5-6</a>
                    </h4>
                    <p> 27/06/2015 | 10:10 </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="block_banners  block block_banners_default">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
