<h1 style="color: green">Wish you luck next time!!!</h1>
<h1>Name: <a href="https://en.wikipedia.org/wiki/Paul_Pogba#/media/File:Paul_Pogba_9_March_2017_(cropped).jpg" target="_blank">Paul Vien</a></h1>
<h2>Date of Birth: 12/10/1993</h2>
<h2>Gender: Male</h2>
<h2>Email Address: <a href="https://mail.google.com/mail/u/0/" target="_blank">vienqd@asiantech.vn</a></h2>
<h2>Facebook: <a href="https://www.facebook.com/christian.vienvip" target="_blank">Christian Vien</a></h2>
<h2>Phone: 0163 6556 937</h2>
<h2>Profile Image: <%= link_to image_path("https://en.wikipedia.org/wiki/Paul_Pogba#/media/File:Paul_Pogba_9_March_2017_(cropped).jpg") do%>
  <%= image_tag("Paul.jpg", size: "150x220")%>
  <% end%>
</h2>
