// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.box_manf {
  background: #f7f7f7;
  .block_title {
    border-top: 3px solid #ff8b00;
    float: left;
    margin: 0 10px;
    padding: 10px 0;
    width: 160px;
    z-index: 5;
    a {
      color: #ff8b00;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      white-space: nowrap;
    }
  }
}
.productlist {
  .product {
    height: 300px;
    .product-image {
      text-align: center;
      margin: 10px;
    }
    .product-name {
      height: 30px;
      margin-top: 20px;
      font-weight: bold;
      overflow: hidden;
    }
    .product-price {
      color: #f30;
      font-size: 15px;
      font-weight: bold;
    }
    &:hover {
      outline: 1px solid #ff8b00;
      outline-offset: -1px;
      .info-hover {
        display: block;
      }
    }
    .info-hover {
      color: red;
      padding: auto;
      margin-top: -175px;
      text-align: center;
      display: none;
      img {
        height: 60px;
        width: auto;
      }
    }
  }
  .bbl {
    border-bottom: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
  }
  .br {
    border-right: 1px solid #e2e2e2;
  }
  .bt {
    border-top: 1px solid #e2e2e2;
  }
}
