body {
  background-color: transparent;
  font-size: 13px;
  font-family: "opensans", Helvetica, Arial, sans-serif;
  line-height: 1.42857;
  color: #383838;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  .wrapper_page {
    background: url(../images/texture1.png) center center;
  }

  .layout {
    width: 1160px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer {
    background: #fff;
  }

  .layout:after {
    clear: both;
  }

  .layout:before, .layout:after {
    content: " ";
    display: table;
  }

  .main_wrapper {
    background: #fff;
  }
}

a, a:visited{
  color: #252525;
  text-decoration: none;
}
a:hover, a:active, a:focus{
  color: #FF8B00;
  text-decoration: none;
}

input[type=text] {
    width: 250px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 8px 0;
    resize: vertical;
    position: relative;
}
.searchbt {
  background-color: white;
  border: none;
  color: #A39B9B;
  position: absolute;
  right: 5px;
  top: 15px;
}
h1 {
    margin-top: 0;
    font-size: 26px;
    color: #FF8B00;
    font-weight: bold;
  }
