._2pi3 {
  padding-bottom: 8px;
  padding-top: 8px;
}

._2pi4 {
    padding-bottom: 12px;
    padding-top: 12px;
}

._2pi6 {
    padding-bottom: 20px;
    padding-top: 20px;
}
.pvs {
  padding-top: 5px;
  padding-bottom: 5px;
}
.ptl {
  padding-top: 10px;
}
.pbs {
  padding-bottom: 5px;
}

.phm {
  padding-left: 10px;
  padding-right: 10px;
}

.plm {
  padding-left: 10px;
}

.prm {
  padding-right: 10px;
}

.mbm {
  margin-bottom: 10px;
}

.mbl {
  margin-bottom: 20px;
}
