._2pi3 {
  padding-bottom: 8px;
  padding-top: 8px;
}

.pvs {
  padding-top: 5px;
  padding-bottom: 5px;
}

.phm {
  padding-left: 10px;
  padding-right: 10px;
}

.pull-left {
  float: left !important;
}
