<!DOCTYPE html>
<html>
<head>
  <title>DienthoaiThongminh</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper_page">
  <header class="header clearfix phm pvs">
    <div class="layout">
      <div class="pull-left _2pi3">
          <p>
            <span class="title-icon">☎&nbsp;</span><strong>1900.6122</strong> -
            <span class="title-icon">☎&nbsp;</span><strong>Bảo Hành:</strong></span> <strong>1800.6501</strong> -
            <span class="title-icon">☎&nbsp;</span><strong>Khiếu Nại:</strong></span> <strong>1800.6502&nbsp;</strong>
          </p>
      </div>
      <div class="center _2pi3">
        <span class="slogan">
          <p>tận tình từ lần chạm đầu tiên</p>
        </span>
      </div>
    </div>
  </header>
  <div class="layout">
    <%= yield %>
  </div>
</div>

</body>
</html>
